body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
.container {
    max-width: 600px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn-delete {
    background-color: #d9534f; /* Rojo */
}

.btn-menu {
    background-color: #007bff; /* Azul */
}

.btn-save {
    background-color: #5cb85c; /* Verde */
}

.btn-delete, .btn-menu, .btn-save {
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.btn-delete:hover {
    background-color: #c9302c; /* Rojo más oscuro */
}

.btn-menu:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

.btn-save:hover {
    background-color: #4cae4c; /* Verde más oscuro */
}
