@import url('https://fonts.googleapis.com/css?family=Monospace|Monospace+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Monospace', sans-serif;
	}
	body{
		background: url("./assets/images/background.jpg");
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	}

	.capa {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		z-index: -1;
		top: 0;
		left: 0;
	}
	
	


	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;
        left: 0;
	}

	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	
	.container .btn-menu {
        position: fixed;
        top: 6px;
        left: 30px;
        line-height: 100px;
    }
    .container .btn-user { /* Posicion del  icono*/
        position: fixed;
        top: 10px;
        right: 50px;
        line-height: 100px;
    }


    /* Estilos para la imagen del logo */
    .logo-img img {
        max-width: 150px; /* Tamaño máximo de la imagen */
        display: block; /* Para centrar la imagen */
        margin: 25px auto 0; /* Centrar la imagen horizontalmente */
    }

	.container .btn-menu label{
		color: #fff;
		font-size: 40px;
		cursor: pointer;
	}
    .container .btn-user label{
		color: #fff;
		font-size: 40px;
		cursor: pointer;
	}
	
	.container .menu{
		float: right;
		line-height: 25px;
	}

    .container .user{
        float: left;
		line-height: 85px;
    }
    

    
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .user a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-left: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	.container .user a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
    #btn-user{
        display: none;
    }

	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}

    .container-user{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;right: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}

    /* Estilos para el icono del usuario */
    .btn-user label img {
        width: 40px;
        height: 40px;
    }

	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}

    #btn-user:checked ~ .container-user{
		opacity: 1;
		visibility: visible;
	}


	.cont-menu{
		width: 100%;
		max-width: 400px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}

    .cont-user{
        width: 100%;
		max-width: 400px;
		background: #1c1c1c;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		transition: all 500ms ease;
		transform: translateX(100%);
    }

	.cont-player-list{
		width: 100%;
		max-width: 400px;
		background: #1c1c1c;
		position: fixed;
		top: 100;
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	#btn-user:checked ~ .container-user .cont-user{
		transform: translateX(0%);
	}

	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-user nav{
		transform: translateY(15%);
	}

	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}

	.cont-user nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-player-list ul a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-user nav a:hover{
		border-right: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	.cont-user label{
		position: absolute;
		left: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/
	body {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background-color: #f0f0f0; /* Color de fondo */
	}
	
	.cont-player-list {
		background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco transparente */
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
		max-width: 80%; /* Ancho máximo */
		width: 600px; /* Ancho del contenedor */
	}
	
	.player-name {
		color: blue; /* Color del enlace */
	}
	